.user-gallery__items{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

}

@media screen and (max-width: 880px) {
  .user-gallery__items{
    display: flex;
    flex-direction: column;
    }
}
