.user-gallery{
  box-sizing: border-box;
  max-width: 880px;
  min-height: fit-content;
  margin: 0 auto;
  padding: 76px 0 0 0;
}

@media screen and (max-width: 880px) {
  .user-gallery{
    min-width: 282px;
    padding: 36px 19px 0 19px;
    }
}
