.user-gallery__delete-button{
  display: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 1;
}

.user-gallery__delete-button:hover{
  opacity: 0.6;
}