
.user__info{
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;

}

@media screen and (max-width: 880px) {
  .user__info{
    margin-top: 14px;
    max-width: 189px;
    font-size: 14px;
    line-height: 17px;
    grid-column: 1/3;
    text-align: center;
  }
}
